<header>
    <div class="design-container">
        <div class="layer-1"></div>
        <div class="layer-2"></div>
        <div class="layer-3"></div>
        <div class="layer-4"></div>
    </div>
    <div class="content-container">
        <div class="name-container">
            <div class="name-block">
                <svg viewbox="0 0 140 80" xmlns='http://www.w3.org/2000/svg' version='1.1'>
                    <text text-anchor="start" x="10" y="30" class="text text-stroke" clip-path="url(#text1)"> Mayank
                    </text>
                    <text text-anchor="start" x="10" y="70" class="text text-stroke" clip-path="url(#text2)"> Raj
                    </text>
                    <text text-anchor="start" x="10" y="30" class="text text-stroke text-stroke-2" clip-path="url(#text1)">
                        Mayank </text>
                    <text text-anchor="start" x="10" y="70" class="text text-stroke text-stroke-2" clip-path="url(#text2)">
                        Raj </text>
                    <defs>
                        <clipPath id="text1">
                            <text text-anchor="start" x="10" y="30" class="text"> Mayank </text>
                        </clipPath>
                        <clipPath id="text2">
                            <text text-anchor="start" x="10" y="70" class="text"> Raj </text>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="description-container">
            <div class="row">
                <div class="description-block">
                    <span class="row-1 title"> Web Designer & Developer | Software Engineer </span>
                </div>
            </div>
        </div>
    </div>
</header>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>