
<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="images/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="images/favicons/favicon-128.png" sizes="128x128" />

<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed">

<!-- Author details -->
<meta name="author" content="Mayank Raj">
<!-- TODO: update this -->
<!-- TODO: make this update for posts -->
<meta name="description" content="I'm Mayank Raj. I'm software engineer currently trying to find that everexisting bug on #32." />

<!-- Social meta tags -->
<!-- TODO: update to https -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="Mayank Raj">
<meta property="og:url" content="http://mayankraj.com">
<meta property="og:title" content="Mayank Raj">
<meta property="og:description" content="I'm Mayank Raj. I'm software engineer currently trying to find that everexisting bug on #32.">
<meta property="og:image" content="http://mayankraj.com/images/base.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mayank9856">
<meta name="twitter:title" content="Mayank Raj">
<meta name="twitter:description" content="I'm Mayank Raj. I'm software engineer currently trying to find that everexisting bug on #32.">
<meta name="twitter:image" content="http://mayankraj.com/images/base.png">