<!-- tag is present in the respective template -->
<!-- <header> -->
<div class="compact-header-container">
    <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg"
        version="1.1">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                <feComposite in="SourceGraphic" in2="goo" operator="atop" />
            </filter>
        </defs>
    </svg>

    <div class="text-container">
        <div class="merged-bg-container title">
            <!-- <span class="">Working with windows COM object</span> -->
            <span class=""> {{.Title}} </span>
        </div>
        <br>
        {{ if or (isset .Params "category") (isset .Params "date") }}
        <div class="merged-bg-container meta-data">
            <span class="">
                {{ if isset .Params "category" }}
                    {{.Params.category}} <br>
                {{ end }}

                {{ if isset .Params "date" }}
                {{.Date.Format "2006-01-02"}} - {{.ReadingTime}} min
                {{ end }}
            </span>
        </div>
        {{ end }}
    </div>

</div>
<!-- </header> -->