		<section class="footer-section">
			<div class="footer">
				<div class="row">
					<div class="col-md-5">
						<span class="reach-out">
							Reach out to me at...
						</span>
						<div class="icon-container">
							<a href='{{site.url_linkedin}}' target="_blank"> <i class="icon-linkedin"></i> </a>
							<a href='{{site.url_github_profile}}' target="_blank"> <i class="icon-github"></i> </a>
							<a href='mailto:{{site.email}}' target="_blank"> <i class="icon-mail"></i> </a>
						</div>
					</div>
					<div class="col-md-4"><br><br></div>
					<div class="col-md-3">
						<span class="host-info"> Hosted with&nbsp;</span>
						<span class="heart-icon">
							<svg class="heart" viewBox="0 0 32 29.6">
								<path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
								c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
							</svg>
						</span>
						<span class="host-info">&nbsp;on Github pages </span>
						<span class="source-info">Find the source of this website on <a class="source-link" href="{{site.url.project}}"> Github </a> </span>
					</div>
				</div>
			</div>
		</section>
