@keyframes design-container {
    0% {
        opacity: 0.75;
        transform: skew(0, 20deg);
    }
}

@keyframes header-layer-1 {
    0% {
        transform: skew(0, -90deg);
    }
}

@keyframes header-layer-2 {
    0% {
        transform: skew(0, 90deg);
    }
}

@keyframes header-svg-stroke {
    55% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
    }
}


@keyframes focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}