@use "variables" as vars;

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin sm {
  @media (min-width: #{vars.$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{vars.$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{vars.$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{vars.$screen-xl-min}) {
    @content;
  }
}

// inspired from https://codepen.io/pirrera/pen/dbHvD

@mixin underline(
  $bg: vars.$color-back,
  $color: currentColor,
  $position: -0.16em,
  $size: 2px
) {
  box-shadow: inset 0 calc(#{$position} + #{$size}) 0 0 $bg,
    inset 0 $position 0 0 $color !important;
  text-decoration: none !important;
  text-shadow: 1px 1px $bg, 2px 1px $bg, -1px 1px $bg, -2px 1px $bg,
    2px -1px $bg, -2px 0 $bg !important;
}
