// ===========================================
// Colors

// $bg-body-color: #cddee1;
$bg-body-color: #fff;

$bg-header-layer-1: #a74482;
$bg-header-layer-2: #693668;
$bg-header-layer-3: #ff3562;
$bg-header-layer-4: #693668;

$color-back: #fff;
$color-front: #111;
$color-subtle: #eee;
$color-subtle-dark: #444;
$color-accent: #f99;

// ===========================================
// Breakpoints

$breakpoint: 992px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// ===========================================
// Breakpoints
@import url("https://fonts.googleapis.com/css?family=Marck+Script|Patua+One|Righteous|Overpass|Fredoka+One|Courgette|Monoton|Cabin+Sketch|Playball");

$font-primary: Overpass, Helvetica, Arial, sans-serif;
$font-secondary: "Fredoka One", Helvetica, Arial, sans-serif;
$font-code: "Fredoka One", Helvetica, Arial, sans-serif;
