---
import Layout from '../layouts/Layout.astro';
---

<Layout title="MayankRaj">
  <div class="flex items-center justify-center h-screen">
    <h1 class="text-6xl font-bold text-accent-1">MayankRaj</h1>
  </div>
</Layout>
