---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Bio from '../components/Bio.astro';
import RecentBlogPosts from '../components/RecentBlogPosts.astro';
import Footer from '../components/Footer.astro';
import ThemeSwitch from '../components/ThemeSwitch.astro';
---

<Layout title="Mayank Raj - Full-Stack Software Architect">
  <Hero />
  <main class="container mx-auto px-4">
    <Projects />
    <Bio />
    <RecentBlogPosts />
  </main>
  <Footer />
  <ThemeSwitch />
</Layout>
