---
import './Hero.scss';
import HeroParallax from './ui/HeroParallax';
import { showcases } from '../utils/showcases';

---

<section class="hero-section p-0 w-screen">
  <HeroParallax client:load showcases={showcases} />
  <div class="hero-content">
  
  </div>
</section>
