
body{ font-family: 'Raleway', sans-serif; overflow-x: hidden;}

a{ color: #e57373; }
a:hover{ color: #c62828; }
.top-container{ overflow: hidden; }

@media (max-width: 767px) {
	.main-title .name{
		font-size: 35px;
	}
	.main-title .work{
		width: 100%;
		font-size: 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.main-title .name{
		font-size: 45px;
	}
	.main-title .work{
		width: 100%;
		font-size: 25px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.main-title .name{
		font-size: 60px;
	}
	.main-title .work{
		font-size: 35px;	
	}
}
@media (min-width: 1200px) {
	.main-title .name{
		font-size: 80px;
	}
	.main-title .work{
		font-size: 40px;	
	}
}

.home_cover{
	position: fixed;
	top: 0;
	height: 50vh !important;
}

.first-section{
	margin-top: 50vh;
}

.main-title{
	position: absolute;
	margin-top: -124px;
	padding: 0;
	top: 0;
	color: #f9f1e9;
	left: 50%;
	text-align: center;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.main-title .name{
	padding-bottom: 10px;
}
.main-title .work{
	position: absolute;
	left: 5px;
}
.home_cover .main-title{
	z-index: 3;
}
.top-bar{
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 5px;
}

section{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 70px 52px;
	background-color: #ffebee;
	color: #424242;
	padding-bottom: 110px;
}
section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}
.separated {
	z-index: 1;
	padding-top: 6em;
}
.separated.red{
	background: #ef5350;
	color: #EEEEEE;
} 
.separated.white{
	background: #ffebee;
} 

.separated::before,
.separated::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	transform: rotate(-2deg);
	transform-origin: 0 0;
}
.separated::before {
	height: 50%;
	transform: rotate(-3deg);
	transform-origin: 3% 0;
}
.separated.red::before {
	background: #d32f2f;
}
.separated.white::before {
	background: #ef9a9a;
}

section .head{
	margin: 0;
	text-transform: uppercase;
	font-size: 26px;
	letter-spacing: 2px;
	font-weight: 700;
}

section .head .underline{
	border: 2px solid #e57373;
	display: block;
	width: 50px;
	margin: 10px 0;
}

section.separated.red .head .underline{
	border: 2px solid #FAFAFA;
}

section .body{
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
}

.justify-text{
	text-align: justify;
}

.skill-progress{
	padding-top: 20px;
}

.skill-set{
	margin-top: 15px;
}
.skill-set p{
	margin-bottom: 0px;
}
.progress-bar {
	position: relative;
	width: 100%;
	height: 10px;
	background-color: #ef9a9a;
	overflow: hidden;
}
.bar-left {
	position: absolute;
	left: 0;
	width: 40px;
	height: 20px;
	background-color: #c62828;
}

.bar {
	position: absolute;
	display: inline-block;
	height: 100%;
	background-color: #c62828;
}

/*---------------------*/
.project-container{
	margin-top: 25px;
}

.project {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	flex-wrap: wrap;
	overflow-y: hidden;
}
.project > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.project-title{
	font-size: 20px;
	font-weight: 700;
}

.project .time .text,
.project .logo,
.project .details {
	padding-top: 30px;
}

.project .time {
	position: relative;
	text-align: center;
}
.project .time .text{
	padding-right: 20px;
	font-size: 15px;
}
.project .time .dot{
	position: absolute;
	right: 15px;
	top: 0;
	height: 100%;
	width: 2px;
	background-color: #ef9a9a;
}
.project .time .dot .after{
	background-color: #ef9a9a;
}
.project .time .dot .after::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 40px;
	transform: translateX(-50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #e57373;
}

.project .logo img{
	max-width: 150px;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

/*-----------------------------------------------------*/

.footer-section {
	background-color: #ffcdd2;
	border-top: 1px solid #e57373;
}

.reach-out{
	font-size: 25px;
	font-weight: 600;
}

.icon-container{
	margin-top: 10px;
	display: block;
}

.icon-linkedin,
.icon-github, 
.icon-mail {
	font-size: 40px;
	color: #e57373;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.icon-linkedin:hover,
.icon-github:hover, 
.icon-mail:hover {
	color: #c62828;
}

.icon-github,
.icon-mail {
	margin-left: 10px;
}

.heart-icon svg{
	fill: #e57373;
	position: relative;
	top: 5px;
	left: -3px;
	width: 20px;
	animation: heart-beat 1s ease infinite;
}

@keyframes heart-beat {
	0% { transform: scale(1); }
	50% { transform: scale(1.09); }
	100% { transform: scale(1); }
}

.host-info,
.heart-icon {
	display: inline-block;
}

.source-info {
	display: block;
	margin-top: 20px;
}

.source-link{
	color: #e57373;
}
.source-link:hover{
	color: #c62828;
}


/* -------Clients ---------- */

.client-container {
	margin-top: 50px;
}
.client-container .client-link{
	margin-top: 40px;
	text-align: center;
}
.client-container .client-link .link-overlay{
	display: none;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	top: 30px;
	font-size: 25px;
	font-weight: 700;
	
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.client-container .client-link:hover .image{
	opacity: 0.1;
	cursor: pointer;
}

.client-container .client-link:hover .link-overlay{
	display: block;
}
.client-container .client-link .link-overlay .link-img img{
	position: relative;
	top: 2px;
	width: 16px;
}
.client-container .image img{
	width: 200px;
	height: auto;
}
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-webkit-keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

.resume{
	margin-top: 80px;
	text-align: center;
}
.btn_cv{
	padding: 10px;
	border-radius: 4px;
	background-color: #e57373;
	color: #fff;
	font-weight: 700;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.btn_cv:hover{
	border-radius: 8px;
	color: #fff;
	background-color: #c62828;
}