.tilt {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}

.home_cover {
	text-align: center;
	height: 100vh;
	overflow: hidden;
	background: url(../images/home_cover.jpg) no-repeat center center;
	background-size: auto 100vh;
}

.coverimg {
	position: absolute;
	top: 50px;
	left: 50px;
	bottom: 50px;
	right: 50px;
	overflow: hidden;
}

.coverimg__imgwrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.coverimg__imgwrap::after {
	content: '';
	position: absolute;
	background: rgba(76,0,1,0.1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.coverimg__img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: 100vh;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.coverimg__imgwrap .tilt__back,
.coverimg__imgwrap .tilt__front {
	background-size: auto 100vh;
}

@media screen and (min-aspect-ratio: 1440/960) {
	.coverimg__imgwrap .tilt__back,
	.coverimg__imgwrap .tilt__front,
	.home_cover {
		background-size: 100vw auto;
	}
	.coverimg__img {
		width: 100vw;
		height: auto;
	}
}

@media screen and (max-width: 40em){
	.coverimg {
		left: 20px;
		bottom: 20px;
		right: 20px;
		top: 20px;
	}
	.github-link {
		top: 40px;
		right: 40px;
	}
	.codrops-links {
		top: 35px;
		left: 30px;
	}
	.mobile-note {
		display: block;
	}
}

