{{ define "main" }}

<div class="body-container" style="--mood: #8E8EC5">
  <div class="content-container">

    <div class="about-block text text-justify text-spacers">
      <div>
        <p>Hi, I'm Mayank Raj. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut mollitia totam cum <a
            href="asa">YOOYOYY</a>
          optio eum odio veniam quasi. Asperiores quam laudantium tempore ad excepturi fuga debitis recusandae commodi
          ab temporibus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nostrum aut odio soluta corporis consequuntur
          enim velit obcaecati vel ut repellendus ratione iste, facilis minus voluptatum voluptas minima quis libero.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam unde dolorum saepe iusto similique ipsam
          aperiam facilis assumenda, delectus quis ab neque. Animi similique reiciendis officiis eos adipisci nobis
          aliquid?</p>
        <p>menda, delectus quis ab neque. Animi similique reiciendis officiis eos adipisci nobis
          aliquid?</p>
        <p>nim velit obcaecati vel ut repellendus ratione iste, facilis minus voluptatum voluptas minima quis libero.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam unde dolorum saepe iusto similique ipsam
          aperiam facilis assumenda, delectus quis ab neque. Animi similique reiciendis officiis eos adipisci nobis
          aliquid?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nostrum aut odio soluta corporis consequuntur
          enim velit obcaecati vel ut repellendus ratione iste, facilis minus voluptatum voluptas minima quis libero.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam unde dolorum saepe iusto similique ipsam
          aperiam facilis assumenda, delectus quis ab neque. Animi similique reiciendis officiis eos adipisci nobis
          aliquid?Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, nostrum aut odio soluta corporis
          consequuntur </p>

          
      </div>
    </div>
  </div>
</div>

{{ end }}