---
layout: base
---

<div>

  {{ content }}

  <h2>Latest Posts</h2>

  <div>&nbsp;</div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">
          {{ post.date | date: date_format }}
          &nbsp;
          {% assign words = content | strip_html | number_of_words %}
          {% if words < 360 %}
            • 1 min read
          {% else %}
            • {{ words | divided_by:200 }} mins read
          {% endif %}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <span>
          {% if post.intro %}
            {{ post.intro | truncatewords: 30 | append: "•"}}
          {% endif %}
        </span>

      </li>
    {% endfor %}
  </ul>

</div>
